<% for (let i=0; i < emeralds.length; i++) { %>
  <% let emerald=emeralds[i] %>
    <div>
      <h2>
        <%= emerald.name %>
      </h2>
      <img src="<%= emerald.image %>" alt="<%= emerald.name %>">
      <form action="/favorites" method="POST">
        <input type="hidden" name="gemId" value="<%= emerald.id %>">
        <button type="submit">Add to Favorites</button>
      </form>
    </div>
    <% } %>