<!DOCTYPE html>
<html>

<head>
  <!-- Other head elements -->
</head>

<body>
  <h2>Welcome! Begin by exploring gems below...</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <a href="/diamonds">
        <div class="card gem-card">
          <img src="https://i.imgur.com/Z614wnK.png'" class="card-img-top" alt="Diamonds">
          <div class="card-body">
            <h5 class="card-title gem-name">Diamonds</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="/emeralds">
        <div class="card gem-card">
          <img src="https://i.imgur.com/BsGkMKm.png" class="card-img-top" alt="Emeralds">
          <div class="card-body">
            <h5 class="card-title gem-name">Emeralds</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="/morganites">
        <div class="card gem-card">
          <img src="https://i.imgur.com/LuiYL5I.png" class="card-img-top" alt="Morganites">
          <div class="card-body">
            <h5 class="card-title gem-name">Morganites</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="/rubys">
        <div class="card gem-card">
          <img src="https://i.imgur.com/wU5foyM.png" class="card-img-top" alt="Rubies">
          <div class="card-body">
            <h5 class="card-title gem-name">Rubies</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="/sapphires">
        <div class="card gem-card">
          <img src="https://i.imgur.com/TNMMaIc.png" class="card-img-top" alt="Sapphires">
          <div class="card-body">
            <h5 class="card-title gem-name">Sapphires</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</body>

</html>