<!DOCTYPE html>
<html>

<head>
  <!-- Other head elements -->
</head>

<body>
  <h2>Welcome! Begin by exploring gems below...</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <a class="col" href="/diamonds">
      <div class="card">
        <div class="card-body">
          Diamonds
        </div>
      </div>
    </a>
    <a class="col" href="/emeralds">
      <div class="card">
        <div class="card-body">
          Emeralds
        </div>
      </div>
    </a>
    <a class="col" href="/morganites">
      <div class="card">
        <div class="card-body">
          Morganites
        </div>
      </div>
    </a>
    <a class="col" href="/rubys">
      <div class="card">
        <div class="card-body">
          Rubies
        </div>
      </div>
    </a>
    <a class="col" href="/sapphires">
      <div class="card">
        <div class="card-body">
          Sapphires
        </div>
      </div>
    </a>
  </div>
</body>

</html>