<!DOCTYPE html>
<html>

<head>
  <!-- Other head elements -->
</head>

<h2>Homepage</h2>

<body>
  <h2>Welcome! Begin exploring rings below:</h2>
  <div class="gem-cards">
    <a href="/diamonds">
      <div class="card">Diamonds</div>
    </a>
    <a href="/emeralds">
      <div class="card">Emeralds</div>
    </a>
    <a href="/morganites">
      <div class="card">Morganites</div>
    </a>
    <a href="/rubys">
      <div class="card">Rubies</div>
    </a>
    <a href="/sapphires">
      <div class="card">Sapphires</div>
    </a>
  </div>
</body>

</html>