<% for (let i=0; i < morganites.length; i++) { %>
  <% let morganite=morganites[i] %>
    <div>
      <h2>
        <%= morganite.name %>
      </h2>
      <img src="<%= morganite.image %>" alt="<%= morganite.name %>">
      <form action="/favorites" method="POST">
        <input type="hidden" name="gemId" value="<%= morganite.id %>">
        <button type="submit">Add to Favorites</button>
      </form>
    </div>
    <% } %>