<% for (let i=0; i < sapphires.length; i++) { %>
  <% let sapphire=sapphires[i] %>
    <div>
      <h2>
        <%= sapphire.name %>
      </h2>
      <img src="<%= sapphire.image %>" alt="<%= sapphire.name %>">
      <form action="/favorites" method="POST">
        <input type="hidden" name="gemId" value="<%= sapphire.id %>">
        <button type="submit">Add to Favorites</button>
      </form>
    </div>
    <% } %>