body {
    margin-top: 20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    font-weight: 400;
    letter-spacing: 1px;
}

.gem-card {
    border-radius: 20px;
    transition: transform .3s, box-shadow .3s;
    overflow: hidden;
}

.gem-card:hover {
    transform: scale(1.05);
    box-shadow: 0 1px 15px rgba(0, 0, 0, .3);
}

.gem-card img {
    transition: transform .3s;
    width: 100%;
    height: auto;
}

.gem-card:hover img {
    transform: scale(1.1);
}

.gem-name {
    font-size: 20px;
    text-align: center;
    position: relative;
    bottom: 10px;
    font-weight: 700;
    transition: color .3s;
}

.gem-card:hover .gem-name {
    color: #6a11cb;
}

.card-body {
    padding: 2rem;
}

.navbar-brand,
.nav-link {
    color: #000 !important;
    transition: color .3s;
}

.navbar-brand:hover,
.nav-link:hover {
    color: #7b7373 !important;
}

.gradient-custom {
    background: #6a11cb;
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
}

/* New code for profile page */
.delete-form {
    display: none;
}

.form-group:hover .delete-form {
    display: inline;
}