<h2>Edit Gem Name</h2>
<form action="/favorites/edit/<%= favorite.id %>?_method=PUT" method="POST">
  <div>
    <label for="name">Gem Name:</label>
    <input type="text" id="name" name="name" value="<%= favorite.gem.name %>">
  </div>
  <button type="submit">Submit</button>
</form>